body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3A3A3A;
}

.StatusBar{
  width: 292px;
  /* height: 65px; */
  padding: 15px;

  background: #FFF6D8;
  border: 2px solid #FFC400;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.StatusBar:hover{
  cursor: pointer;
}

.StatusBar-info{
  margin: 0;
  /* background-color: #1f6475; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StatusBar-info>*{
  margin: 0;
}

.StatusBar-info>h2{
  font-family: 'Metamorphous', serif;
  font-style: normal;
  opacity: 90%;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
}

.StatusBar-info>p{
  font-family: 'Almendra', serif;
  font-style: normal;
  opacity: 90%;
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
}

.StatusBar-health-bar-moving-bar{
  margin:0;
  height: 100%;
  /* width: 80%; */
  border-radius: 2px;
  background: #8FF360;
  /* position: absolute; */
}

.StatusBar-secondary-info {
  margin-top: 5px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  /* gap: 35px; */
  align-items: center;
  font-family: 'Cardo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  opacity: 80%;
  
}


.StatusBar-class-titles h3{
  margin:0;
  font-family: 'Cardo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.StatusBar-class-titles h4{
  font-style: italic;
  font-weight: 400;
  font-family: 'Cardo', serif;
  margin:0 0 0 15px;
}

.StatusBar-health-bar{
  margin: 2px 0px 0 0px;
  background: rgba(143, 243, 96, 0.35);

  border-radius: 2px;
  height: 10px;
  padding: 0;
  /* position: relative; */
}


.App{
  display: flex;
  flex-direction: column;
}

.App-bars{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  gap: 15px;
}

.Header{
  background: #f0f0f0;
  height: 55px;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Header h1{
  font-family: 'Cardo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

